
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;

}

.header {
    background: #F3F3F3;
    padding-bottom: 120px;
}
.wrap {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.header__top--logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.header__top--menu a {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    text-decoration: none;
}

.header_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
    box-sizing: border-box;
}
.menu__hamburger {
    width: 23px;
    height: 14px;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0;
    position: relative;
    display: none;
}
.menu__hamburger span {
    width: 17px;
    height: 2px;
    background: #737373;
    display: block;
    position: absolute;
    right: 0;
    top: 7px;
}
.menu__hamburger:before {
    content: "";
    position: absolute;
    top: 0;
    width: 23px;
    height: 2px;
    background: #737373;
    display: block;
}
.menu__hamburger:after {
    content: "";
    position: absolute;
    top: 14px;
    width: 10px;
    height: 2px;
    background: #737373;
    display: block;
    right: 0;
}
.header__top--menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.menu__list {
    display: flex;
    list-style: none;
}
.menu__list li {
    margin-left: 21px;
}
.menu__list li a {
    transition: background 0.2ms;
}
.menu__list li a:hover {
    color: white;
}
.header__tittle {
    margin-top: 120px;
    margin-bottom: 40px ;
}

.header__tittle h1 {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.header__description {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 255px;
    margin-right: 255px;
}
.header_buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.header__buttons--left a {
    background: #FFA62B;
    border-radius: 37px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 36px;
    margin-right: 10px;
}
.header__buttons--left a:hover {
    filter: contrast(150%);
}
.header__buttons--right a {
    border: 1px solid #00A0C1;
    box-sizing: border-box;
    border-radius: 37px;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #00A0C1;
    padding: 10px 36px;
    text-decoration: none;
    transition: background 0.2ms;
}
.header__buttons--right a:hover {
    background: white;
}
.choose {
    padding: 145px 0 70px 0;
    box-sizing: border-box;
}
.choose__tittle h2,
.clients__tittle h2,
.team__tittle h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: center;
}

.choose__description p,
.clients__description p,
.team__description p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 290px;
    margin-right: 290px;
}

.choose__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
}
.choose__element {
    flex-basis: 328px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    padding: 35px 40px;
    margin-bottom: 30px;
}
.choose__element--block {
    display: flex;
    align-items: center;
}
.choose__element--block img {
    width: 48px;
    margin-right: 15px;
}

.choose__element--block h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.choose__element p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
.clients {
    padding: 80px 0 80px 0;
    box-sizing: border-box;
    background: #F3F3F3;
}
.clients__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}
.clients__element {
    flex-basis: 327px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px 35px;
}
.clients__element p {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 20px 0;
}
.clients__element--block {
    display: flex;
    align-items: center;
}
.clients__element--block a {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFA62B;
    text-decoration: none;
}

.clients__element--block h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 0;
}
.clients__element--block img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.team {
    padding: 80px;
}
.team__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
}
.team__element {
    flex-basis: 328px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.team__element > img {
    width: 100%;
    height: auto;
}
.team__element h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 30px 0 0 0;
}
.team__element h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 5px 0;
}
.team__element div {
    text-align: center;
    margin-bottom: 30px;
}
.team__element div img {
    margin: 0 8px;
}
.contact {
    background: url(images/b_5_fon.jpg) no-repeat center top / cover; 
    padding: 90px 0;
}

.contact__suptittle h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 0;
}

.contact__tittle h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 0;
}
.contact__form {
    margin-top: 40px;
}
.contact__form--blank input::placeholder,
.contact__form--text textarea::placeholder {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
}
.contact__form--blank input, select {
    width: 286px;
    height: 50px; 
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 21px;
    margin-bottom: 21px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
    padding: 11px 21px 15px;
}

.contact__form--text textarea {
    width: 596px;
    height: 140px;
    background: #F9F9F9;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px 26px;
}
.contact__form--submit {
    margin-top: 40px;
}
.contact__form--submit button {
   padding: 15px 40px;
   background: #FFA62B;
   border-radius: 5px;
   font-weight: bold;
   font-size: 14px;
   line-height: 28px;
   text-align: center;
   letter-spacing: 0.2px;
   color: #FFFFFF;
   border: none;
   cursor: pointer;
} 
.consulting {
    padding: 40px 0;
    background: #FAFAFA;;
}
.consulting__inner,
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.consulting__text h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 0;
}
.consulting__text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 10px;
}
.consulting__hr a {
    padding: 15px 40px;
    background: #FFA62B;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer {
    background: #252B42;
    padding: 40px 0;
}
.footer__tittle h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.footer__icons img {
    margin-left: 20px;
}

/* Медиа */
@media (max-width:1000px) {
    .choose__block, 
    .clients__block,
    .team__block    {
        justify-content: space-evenly;
    }
    .clients__element,
    .team__element {
        margin-bottom: 30px;
    }
    .team {
        padding: 20px;
    }

}

@media (max-width:890px) {
.header__tittle h1 {
    font-size: 48px;
}
.header__description,
.choose__description p,
.clients__description p,
.team__description p {
    margin-right: 0;
    margin-left: 0;
}
.consulting__inner {
    display: block;
}
.consulting__hr  {
    width: 30vh;
    margin-top: 50px;
}
}

@media (max-width:640px) {
    .wrap {
        padding: 0 42px;
    }
    .header__tittle h1 {
        font-size: 40px;
    }
    .choose__element,
     .clients__element,
     .team__element {
        flex-basis: 100%;
    }
    .contact__form--text textarea,
    .contact__form--submit button,
    .contact__form--blank input, select {
        width: 95%;
    }
    .footer__inner {
        display: block;
    }
    .footer__icons img {
        margin-left: 0;
        margin-right: 20px;
    }
 }
 @media (max-width: 575px) {
     .header_top {
         display: block ;
     }
    .menu__list {
        display: none;
    }
    .menu__hamburger {
        display: block;
        position: absolute;
        top: 40px;
        right: 38px;
    }
    .header__top--menu__active .menu__hamburger span {
        display: none;
    }
    .header__top--menu__active .menu__hamburger:after{
        transform: rotate(45deg) translate(-9px, -9px);
        width: 23px;
    }
    .header__top--menu__active .menu__hamburger:before {
        transform: rotate(-45deg);
    }
    .header__top--menu__active  {
        display: block;
    }
    .header__top--menu__active .menu__list  {
        display: block;
        text-align: center;
        margin-top: 83px;
        margin-bottom: 98px;
    }
    .header__top--menu__active .menu__list li  {
        margin-bottom: 30px;
    }
    .header__top--menu__active .menu__list li a {
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
    }
}

 @media (max-width: 456px) {
      .wrap {
         padding: 0 10px;
     }
    .header__buttons--left  {
        margin-bottom: 25px;
    }
    .header__buttons--left a {
        margin-right: 0;
    }
    .contact__tittle h2 {
        font-size: 30px;
    }
 }
 @media (max-width: 320px) {
     .wrap {
        word-wrap: break-word;
     }
     .header__buttons--left a,
     .consulting__hr a {
         padding: 15px;
     }
 }
